.boxed-text {
  background-color: blue;
  color: white;
  font-size: 38px;
  border: 1px solid black; 
  }

  .headline-box {
    padding-left: 150px;
    padding-top:0;
    height: 75px;
  }

  .footer {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: blue;
  }

  .bold-text {
  font-weight: bold; 
}

*{
  font-family: sans-serif;
}

.sidebar {
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  /*z-index: 1; /* Stay on top */
  top: 180px; /* Stay at the top */
  right: 20px;
  overflow-x: hidden; /* Disable horizontal scroll */
.}


.body-text {
  margin-right: 250px;
  position: fixed;
  padding-left: 150px;
  padding-right: 50px;
  }

.body-text p {
  margin-left: 20px;
  font-size: 15px;
}

.body-text h1 {
  font-size: 25px;
}

.image-placeholder {
  background-color: blue;
  height: 75px;
  width: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom:0px;
  color: white;
  font-size: 25px;

}
.caption {
  font-size:12px; 
  padding: 0;
  Margin: 0;
}
.sidebar h5 {
  font-size: 20px;
  padding:0px;
  margin: 0px;
}

